/*********/
/* Fonts */
/*********/

body {
    font-family: serif;
}

p {
    font-family: serif;
}

h1, h2, h3 {
    font-weight: bolder;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/**********/
/* Colors */
/**********/

/* When ready to start, uncomment this section */

/*

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.content-container {
    background-color: aliceblue;
}

.feature-container h2 {
    background-color: green;
}

.feature-container p {
    background-color: yellow;
}

.details-container div {
    background-color: aliceblue;
}

h1 {
    border-bottom: 7px solid red;
}

.details-container h3 {
    border-bottom: 7px solid red;
}

*/

/**********/
/* Layout */
/**********/

body {
    padding: 100px;
}

.content-container {
    display: grid;
    grid-template: auto / auto auto auto;
    gap: 100px 50px;
}

h1 {
    grid-area: 1 / 1 / span 1 / span 3;
}

.feature-container {
    grid-area: 2 / 1 / span 1 / span 3;
    display: grid;
    grid-template: auto / 1fr 1fr;
    align-items: center;
    justify-content: baseline;
}

.details-container {
    grid-area: 3 / 1 / span 1 / span 3;
    display: grid;
    grid-template: auto / auto auto auto;
    gap: 100px;
    align-items: center;
}